.no-select {
    user-select: none; /* Prevent text selection */
    -webkit-user-select: none; /* Chrome, Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.invisible {
    pointer-events: none;
    position: relative;
    z-index: 0;
}